@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 0 10vw 0 10vw;
  background: black;
  display: flex;
  z-index: 1;
}

.container {
  margin: auto;
  margin-top: 50px;
  width: 80vw;
  max-width: 1200px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

video {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
  border: 1px solid white;
  z-index: 1;
}

.screen-buttons {
  border: 1px solid white;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.screen-button {
  box-sizing: border-box;
  margin: 10%;
  max-height: 80%;
  width: 160px;
  background: black;
  color: white;
  border: 1px solid white;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  z-index: 1;
}

.screen-button:hover {
  background: white;
  color: black;
}

.mouseShadow {
  display: none;
  position: absolute;
  border-radius: 50%;
  background: white;
  z-index: 0;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    box-shadow: 0 0 5px 2px magenta, 0 0 10px 5px cyan;
  }
  to {
    box-shadow: 0 0 10px 4px magenta, 0 0 20px 10px cyan;
  }
}
